<template>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">Resultados</h4>
        </div>
        <div class="card-body">
            <div class="row my-4">
                <div class="col-12 text-right">
                    <router-link :to="{name: 'results-new'}" class="btn btn-primary btn-sm">
                        <i class="fas fa-plus"></i>
                        Nuevo
                    </router-link>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" 
                            data-target="#exportFilters">
                        Exportar
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exportFilters" tabindex="-1" role="dialog" 
                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                         <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exportFiltersTitle">
                                        Datos a exportar
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" 
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 col-md-3">
                                            <div class="form-group">
                                                <label for="" class="float-left font-weight-bold">
                                                    Desde
                                                </label>
                                                <input type="date" class="form-control form-control-sm"
                                                       v-model="fromDate">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group">
                                                <label for="" class="float-left font-weight-bold">
                                                    Hasta
                                                </label>
                                                <input type="date" class="form-control form-control-sm"
                                                       v-model="toDate">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary-light" 
                                            data-dismiss="modal">
                                        Cerrar
                                    </button>
                                    <button type="button" class="btn btn-primary" @click="exportData()">
                                        Exportar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <v-client-table :columns="columns" :data="records" :options="table_options">
                <div slot="positive" slot-scope="props" class="text-center">
                    <i class="fas fa-plus-circle text-danger" v-if="props.row.positive"></i>
                    <i class="fas fa-minus-circle text-success" v-else></i>
                </div>
                <div slot="id" slot-scope="props" class="text-center">
                    <button type="button" class="btn btn-light" 
                            @click="editRecord('/results',props.row.id)" title="Editar registro" 
                            data-toggle="tooltip">
                        <i class="fa fa-edit text-info"></i>
                    </button>
                    <button @click="deleteRecord(url, props.row.id)" 
                            class="btn btn-light" title="Eliminar registro" data-toggle="tooltip" type="button">
                        <i class="fas fa-trash text-info"></i>
                    </button>
                </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                fromDate: '',
                toDate: '',
                records: [],
                columns: [
                    'medical_record.patient.register_number', 
                    'medical_record.patient.mother.full_name', 
                    'medical_record.patient.full_name',
                    'positive', 
                    'id'
                ],
                url: `${window.url}/api/v1/results`
            }
        },
        created() {
            this.table_options.headings = {
                'medical_record.patient.register_number': 'Nro. Registro',
                'medical_record.patient.mother.full_name': 'Madre',
                'medical_record.patient.full_name': 'Paciente',
                'positive': 'Resultado',
                'id': 'Acción'
            };
            this.table_options.sortable = [
                'medical_record.patient.register_number', 
                'medical_record.patient.mother.full_name', 
                'medical_record.patient.full_name'
            ];
            this.table_options.filterable = [
                'medical_record.patient.register_number', 
                'medical_record.patient.mother.full_name', 
                'medical_record.patient.full_name'
            ];
            this.table_options.columnsClasses = {
                'id': 'col-2 text-center'
            };
        },
        methods: {
            exportURL() {
                const vm = this;
                return `${window.url}/api/v1/export-results/${vm.fromDate}/${vm.toDate}`;
            },
            exportData() {
                const vm = this;
                axios.post(`${window.url}/api/v1/export-results`, {
                    fromDate: vm.fromDate,
                    toDate: vm.toDate
                }).then(response => {
                    if (response.data.result) {
                        /** @type {Object} Crea el elemento para descargar el archivo */
                        let link=document.createElement('a');
                        link.href = `${window.url}/api/v1/export-results/${response.data.result.fileName}`
                        link.target = '_blank';
                        link.id = 'exportResults';
                        link.click();
                        /** Elimina el elemento después de procesar la descarga */
                        let el = document.getElementById('exportResults');
                        if (el !== null) {
                            el.remove()
                        }
                    }
                });
            }
        },
        mounted() {
            const vm = this;
            vm.getRecords(vm.url);
        }
    };
</script>