<template>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">{{ title }} Resultado</h4>
        </div>
        <div class="card-body">
            <form-errors :errors="errors"></form-errors>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm" 
                                   placeholder="Número de registro"
                                   v-model="record.medical_record.patient.register_number" 
                                   aria-describedby="register_number_search">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" 
                                        id="register_number_search" @click="searchPatient()">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="card-title mt-3 mb-3">Datos de la Madre</h5>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" 
                                   placeholder="Cédula de Identidad" 
                                   v-model="mother.identity_card" readonly>
                    </div>
                </div>
                <div class="col-12 col-md-3 offset-md-6">
                    <div class="form-group">
                        <input type="date" class="form-control form-control-sm" readonly
                               placeholder="Fecha de Nacimiento" v-model="mother.birthdate">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Primer Apellido" 
                               v-model="mother.first_surname" readonly>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Segundo Apellido" 
                               v-model="mother.second_surname" readonly>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Primer Nombre" 
                               v-model="mother.first_name" readonly>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" readonly 
                               placeholder="Inicial Segundo Nombre" v-model="mother.middle_name">
                    </div>
                </div>
            </div>
            <h5 class="card-title mt-3 mb-3">Datos del Paciente</h5>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" v-model="patient.sex" disabled>
                            <option value="">-- Sexo --</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3 offset-md-6">
                    <div class="form-group">
                        <input type="date" class="form-control form-control-sm" readonly 
                               placeholder="Fecha de Nacimiento" v-model="patient.birthdate">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Primer Apellido" 
                               v-model="patient.first_surname" readonly>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Segundo Apellido" 
                               v-model="patient.second_surname" readonly>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Primer Nombre" 
                               v-model="patient.first_name" readonly>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" readonly 
                               placeholder="Inicial Segundo Nombre" v-model="patient.middle_name">
                    </div>
                </div>
            </div>
            <h5 class="card-title mt-3 mb-3">Historia Clínica</h5>
            <div class="row">
                <div class="col-12 col-md-3">
                    <input type="text" class="form-control form-control-sm" disabled 
                           placeholder="Nro. historia" v-model="medical_record.number">
                </div>
                <div class="col-12 col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="firstSample" 
                               v-model="medical_record.first_sample" :value="true" disabled>
                        <label class="custom-control-label" for="firstSample">
                            1era muestra
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="secondSample" 
                               v-model="medical_record.second_sample" :value="true" disabled>
                        <label class="custom-control-label" for="secondSample">
                            2da muestra
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <input type="date" class="form-control form-control-sm" disabled 
                           placeholder="Fecha toma de muestra" v-model="medical_record.sample_taken_at">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" disabled 
                               placeholder="Peso al nacer (gr)" v-model="medical_record.birth_weight">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" 
                               placeholder="Duración de embarazo (sem)" 
                               v-model="medical_record.pregnancy_duration" disabled>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="takeAntibiotics" 
                               v-model="medical_record.take_antibiotics" :value="true" disabled>
                        <label class="custom-control-label" for="takeAntibiotics">
                            Toma antibióticos
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="background" 
                               v-model="medical_record.background" :value="true" disabled>
                        <label class="custom-control-label" for="background">
                            Trasfundo
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" 
                                v-model="medical_record.birth_type" disabled>
                            <option value="">-- Tipo de parto --</option>
                            <option value="N">Normal</option>
                            <option value="F">Fórceps</option>
                            <option value="C">Cesárea</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" 
                                v-model="medical_record.consanguineous_parents" disabled>
                            <option value="">-- Padres consanguíneos --</option>
                            <option :value="true">Sí</option>
                            <option :value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <select class="custom-select custom-select-sm" 
                                v-model="medical_record.lactation_type" disabled>
                            <option value="">-- Tipo de lactancia --</option>
                            <option value="M">Materna</option>
                            <option value="A">Artificial</option>
                        </select>
                    </div>
                </div>
            </div>
            <h5 class="card-title mt-3 mb-3">Resultados</h5>
            <div class="row">
                <div class="col-12 col-md-3">
                    <input type="date" class="form-control form-control-sm" v-model="record.diagnosed_at" 
                           placeholder="Fecha de diagnóstico">
                </div>
                <div class="col-12 col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="positive" 
                               v-model="record.positive" :value="true">
                        <label class="custom-control-label" for="positive">
                            Positivo
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" rows="4" v-model="record.pathology" placeholder="patología"></textarea>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" rows="4" v-model="record.levels" placeholder="niveles"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-4">
                    <div class="form-group form-row">
                        <label for="">HC (TSH)</label>
                        <div class="col-12">
                            <select class="custom-select custom-select-sm" v-model="record.hc_tsh_result">
                                <option value="">-- Seleccione --</option>
                                <option value="N">Normal</option>
                                <option value="S">Sospechoso</option>
                            </select>
                        </div>
                        <div class="col-12 mt-3">
                            <input type="number" class="form-control form-control-sm" 
                                   v-model="record.hc_tsh_value" step="0.01" 
                                   placeholder="Valor">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group form-row">
                        <label for="">HAC (170HP)</label>
                        <div class="col-12">
                            <select class="custom-select custom-select-sm" v-model="record.hac_hp_result">
                                <option value="">-- Seleccione --</option>
                                <option value="N">Normal</option>
                                <option value="S">Sospechoso</option>
                            </select>
                        </div>
                        <div class="col-12 mt-3">
                            <input type="number" class="form-control form-control-sm" 
                                   v-model="record.hac_hp_value" step="0.01" 
                                   placeholder="Valor">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group form-row">
                        <label for="">PKU (PHE)</label>
                        <div class="col-12">
                            <select class="custom-select custom-select-sm" v-model="record.pku_phe_result">
                                <option value="">-- Seleccione --</option>
                                <option value="N">Normal</option>
                                <option value="S">Sospechoso</option>
                            </select>
                        </div>
                        <div class="col-12 mt-3">
                            <input type="number" class="form-control form-control-sm" 
                                   v-model="record.pku_phe_value" step="0.01"
                                   placeholder="Valor">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group form-row">
                        <label for="">GAL (GT)</label>
                        <div class="col-12">
                            <select class="custom-select custom-select-sm" v-model="record.gal_gt_result">
                                <option value="">-- Seleccione --</option>
                                <option value="N">Normal</option>
                                <option value="S">Sospechoso</option>
                            </select>
                        </div>
                        <div class="col-12 mt-3">
                            <input type="number" class="form-control form-control-sm" 
                                   v-model="record.gal_gt_value" step="0.01"
                                   placeholder="Valor">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group form-row">
                        <label for="">DB (B)</label>
                        <div class="col-12">
                            <select class="custom-select custom-select-sm" v-model="record.db_b_result">
                                <option value="">-- Seleccione --</option>
                                <option value="N">Normal</option>
                                <option value="S">Sospechoso</option>
                            </select>
                        </div>
                        <div class="col-12 mt-3">
                            <input type="number" class="form-control form-control-sm" 
                                   v-model="record.db_b_value" step="0.01"
                                   placeholder="Valor">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group form-row">
                        <label for="">FQ (IRT)</label>
                        <div class="col-12">
                            <select class="custom-select custom-select-sm" v-model="record.fq_irt_result">
                                <option value="">-- Seleccione --</option>
                                <option value="N">Normal</option>
                                <option value="S">Sospechoso</option>
                            </select>
                        </div>
                        <div class="col-12 mt-3">
                            <input type="number" class="form-control form-control-sm" 
                                   v-model="record.fq_irt_value" step="0.01"
                                   placeholder="Valor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <router-link :to="{name: 'results'}" class="btn btn-light">
                Cancelar
            </router-link>
            <button type="button" class="btn btn-primary" @click="setRecord(url, '/results')">
                Guardar
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                errors: [],
                states: [],
                mother: {
                    identity_card: '',
                    birthdate: '',
                    first_surname: '',
                    second_surname: '',
                    first_name: '',
                    middle_name: ''
                },
                patient: {
                    sex: '',
                    birthdate: '',
                    first_surname: '',
                    second_surname: '',
                    first_name: '',
                    middle_name: '',
                },
                medical_record: {
                    number: '',
                    sample_taken_at: '',
                    first_sample: false,
                    second_sample: false,
                    birth_weight: '',
                    pregnancy_duration: '',
                    take_antibiotics: false,
                    background: false,
                    birth_type: '',
                    consanguineous_parents: '',
                    lactation_type: ''
                },
                record: {
                    diagnosed_at: '',
                    pathology: '',
                    levels: '',
                    positive: false,
                    hc_tsh_result: '',
                    hc_tsh_value: '',
                    hac_hp_result: '',
                    hac_hp_value: '',
                    pku_phe_result: '',
                    pku_phe_value: '',
                    gal_gt_result: '',
                    gal_gt_value: '',
                    db_b_result: '',
                    db_b_value: '',
                    fq_irt_result: '',
                    fq_irt_value: '',
                    medical_record: {
                        id: '',
                        patient: {
                            register_number: '',
                        }
                    }
                },
                url: `${window.url}/api/v1/results`
            }
        },
        methods: {
            async searchPatient() {
                const vm = this;
                await axios.post(`${window.url}/api/v1/search-patient`, {
                    register_number: vm.record.medical_record.patient.register_number
                }).then(response => {
                    vm.mother = response.data.result.mother;
                    vm.medical_record = response.data.result.medical_record;
                    vm.record.medical_record.id = response.data.result.medical_record.id;
                    vm.patient = response.data.result;
                }).catch(error => {
                    console.error(error);
                });
            }
        },
        mounted() {
            const vm = this;
            if (typeof(vm.$route.params.id) !== 'undefined' && vm.$route.params.id) {
                vm.getRecord(`${vm.url}/${vm.$route.params.id}`);
                vm.title = 'Editar';
            }
            vm.getList(`${window.url}/api/v1/list/states`, 'states');
        }
    };
</script>