<template>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">Estados</h4>
        </div>
        <div class="card-body">
            <div class="row my-4">
                <div class="col-12 text-right">
                    <router-link :to="{name: 'states-new'}" class="btn btn-primary btn-sm">
                        <i class="fas fa-plus"></i>
                        Nuevo
                    </router-link>
                </div>
            </div>
            <v-client-table :columns="columns" :data="records" :options="table_options">
                <div slot="id" slot-scope="props" class="text-center">
                    <button type="button" class="btn btn-light" 
                            @click="editRecord('/states',props.row.id)" title="Editar registro" 
                            data-toggle="tooltip">
                        <i class="fa fa-edit text-info"></i>
                    </button>
                    <button @click="deleteRecord(url, props.row.id)" 
                            class="btn btn-light" title="Eliminar registro" data-toggle="tooltip" type="button">
                        <i class="fas fa-trash text-info"></i>
                    </button>
                </div>
            </v-client-table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                records: [],
                columns: ['code', 'name', 'id'],
                url: `${window.url}/api/v1/states`
            }
        },
        created() {
            this.table_options.headings = {
                'code': 'Código',
                'name': 'Estado',
                'id': 'Acción'
            };
            this.table_options.sortable = ['name'];
            this.table_options.filterable = ['name'];
            this.table_options.columnsClasses = {
                'code': 'col-2 text-center',
                'id': 'col-2 text-center'
            };
        },
        mounted() {
            const vm = this;
            vm.getRecords(vm.url);
        }
    };
</script>