<template>
    <div class="row" v-if="errors.length">
        <div class="col-12">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <span>
                    <b> Alerta - </b> Verifique estos errores:
                    <ul class="ml-2">
                        <li v-for="error in errors">
                            {{ error }}
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            errors: {
                type: Array,
                required: false,
                default: []
            }
        }
    };
</script>