<template>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">Mi Perfil</h4>
        </div>
        <div class="card-body">
            <form-errors :errors="errors"></form-errors>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Cédula" 
                               v-model="record.profile.identity_card">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Nombre(s)" 
                               v-model="record.profile.names">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Apellidos(s)" 
                               v-model="record.profile.surnames">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Correo" v-model="record.email">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="password" class="form-control form-control-sm" placeholder="Contraseña" 
                               v-model="record.password">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <input type="password" class="form-control form-control-sm" 
                               placeholder="Confirmar Contraseña" v-model="record.password_confirmation">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <router-link to="/" class="btn btn-light">
                Cancelar
            </router-link>
            <button type="button" class="btn btn-primary" @click="updateProfile()">
                Guardar
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                errors: [],
                states: [],
                record: {
                    id: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    profile: {
                        identity_card: '',
                        names: '',
                        surnames: ''
                    }
                }
            }
        },
        methods: {
            async updateProfile() {
                const vm = this;
                await axios.post(`${window.url}/api/v1/profile/users`, vm.record).then(response => {
                    if (response.data.code === 200) {
                        vm.showMessage('updated');
                        setTimeout(function() {
                            location.reload();
                        }, 6000);
                    }
                }).catch(error => {
                    console.error(error);
                });
            }
        },
        mounted() {
            const vm = this;
            vm.record.id = vm.$parent.user.id;
            vm.record.email = vm.$parent.user.email;
            vm.record.profile.identity_card = vm.$parent.user.profile.identity_card || '';
            vm.record.profile.names = vm.$parent.user.profile.names || '';
            vm.record.profile.surnames = vm.$parent.user.profile.surnames || '';
        }
    };
</script>